<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="base.css">
    <title>HTML Page</title>
</head>


    <div class="page_container">
        <div class="page_container">
        <header>
            <h1>This is the headerr</h1>
        </header>

        <body>
            <!--content is the name of the block-->
            {% block content %}
            {% endblock content %}
        </body>

        <footer>
            <h3>This is a footer/</h3>
        </footer>
    </div>

    </div>

</html>
